<div class="search-4">
    <form method="GET", action="/news">
  <div class="form-group">
    <label for="search">Tìm Kiếm</label>
    <input type="search-input" class="form-control" id="search" placeholder="Tìm Kiếm">
  </div>

  <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
</form>
</div>